/*MENÚ Administrativo*/

/*Clase para esconder paginas*/

.esconder
{
    display: none;
}

#cajamenu header{
    
    background-color:rgb(9, 79, 174);
    width: 100%;
    
}

/*Altura y Ancho de los iconos del menú*/
#cajamenu header li a img{
    width: 20px;
    height: 20px;
    padding-right: 5px;
    
}



/*Estilo al encabezado*/


span { color:#fff }

/**/

#cajamenu header .wrapper input#btn-menu[type="checkbox"]{
    display: none;
}
header label{
    display: none;
    width: 30px;
    height: 50px;
    padding: 10px;
    padding-bottom: 0%;
    border-right: 1px solid #ffffff;
    
}

header label img{
    width: 30px;
    height: 30px;
}
header label:hover{
    cursor:pointer;
    background: rgb(9,79,174);
   
}
header nav ul li:hover{
  background: linear-gradient(to right, rgb(229,161,50) 0%, rgb(240,110,50) 100%);
    border-radius: 20px;
}

#cajamenu header .wrapper .navegacion ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    line-height: normal;
    
}

#cajamenu header .wrapper .navegacion li a{
    display: inline-block;
    font-size: 20px;
    padding: 25px 10px;
    color: #fff;
    text-decoration: none;
    
    -o-webkit-transition:all 500ms eas;  
    -o-transition: all 500ms eas;
    transition:all 500ms eas;
    
}

/*Pr
opiedades para el menu al reducir el navegador a 600px*/
@media(max-width:860px){
     header label{ 
        display: block;
        margin:0;
     }
/*Opciones principales*/
     .navegacion {
         position: absolute;
         background: rgb(9,79,174); 
         width:50%;
         margin-left: -70%;
         transition: all 0.5s;
       
             }
/*Muestra el menú en forma de columna*/
     .navegacion ul{
         flex-direction: column;
         
     }
/*Al darle clic al boton del menú se abra*/
     #btn-menu:checked ~ .navegacion {
        margin:0;
        width: 200px;
     }

    
}

/*  */

    .caja4{
      width: 100vw;
      height: 99vh;
      background-color:#fff;
      display: flex;
      flex-direction: row;
  
    }
   
    .notificacion{
      width: 50vw;
      height: 99vh;
      max-width: 250px;
      background-color: rgb(9,79,174);;
      border: 2px solid #efb810;
      overflow: hidden;
    }
    
    .central{
      width: 100vw;
      height: 99vh;
      max-width: 100%;
      background-color: rgb(9,79,174);;
      border: 2px solid #efb810;
      overflow: hidden;
    }
    
    .central-top{
      width: 850px;
      
      height: 16%;
  
      background-color: rgb(9,79,174);;
      border-bottom: 2px solid #efb810;
      overflow: hidden;
    }
   
  
    .lateral{
      width: 700px;
      height: 99vh;
      max-width: 400px;
      background-color:rgb(9,79,174);
      border: 2px solid #efb810;
      overflow: hidden;
    }
  
    .info-admin,.info-empuno,.info-empdos,.info-emptres,.info-empcuatro,.info-empcinco{
    margin-top: 5px;
    margin-left: 5px;
   
  }
  .info-admin p,.info-empuno p,.info-empdos p,.info-emptresp p,.info-empcuatro p,.info-empcinco{
    margin: 0;
    
  }
  .info-admin{
    margin: 0;
    margin-top: 25px;
    margin-left: 5px;
    color: #fff;
  }
  .info-admin a{
    color: #fff;
  }
    .notificacion .logos{
      width: 100%;
      height: 16%;
      background-color: rgb(9,79,174);
      border-bottom: 2px solid #efb810;
      display: flex;
    }
    
    .notificacion .descripcion{
      width: 100%;
      height: 16%;
      background-color: rgb(9,79,174);
      border-top: 2px solid #efb810;
      
    }
    .notificacion .logos img{
      width: 43%;
      height: 83%;
      margin: 0;
      margin-left: 5%;
      margin-top: 10px;
      display: flex;
    }
  
  
    .notificacion .reservas{
      background-color: rgb(9,79,174);
      width: 100%;
      height: 50%;
      margin-top: 5px;
      max-width: 100%;
    }
  /*********************************/
  
    .central .informaciones{
      margin-top: 5px;
      height: 50%;
      overflow: hidden;
      
    }
  
    .central .informaciones input,label{
      margin-top: 10px;
      margin-left: 20%;
    }
  
    .central .informaciones input{
      margin-top: 10px;
      width: 50%;
      padding: 10px;
      font-size: 15px;
    }
    .central .informaciones input:last-child{
      margin-bottom: 10px;
      
    }
   

    /*****************/
    .lateral .mejor .Tema{
      margin: 0 auto;
      width: 100%;
      height: 11.2vh;
     border-bottom: 2px solid #efb810;
      background-color:rgb(9,79,174);
    }
  .lateral .mejor .Tema h1{
    margin:0;
    margin-top: 30px;
    margin-left: 37%;
    color: rgb(255, 255, 255)
  
  }
    .lateral .mejor .empleado1{
    
      height: 40%;
      background-color: #fff;
      border-bottom: 3px solid #efb810;
      display: flex;
     
      margin: 30px 30px 0 20px
      
    }
    .lateral .mejor .empleado2{

      height: 40%;
      
      background-color: #fff;
      border-bottom: 3px solid #efb810;
      display: flex;
      margin: 10px 30px 0 20px
    }
  
    .lateral .mejor .empleado3{
  
      height: 40%;
      
      background-color: #fff;
      border-bottom: 3px solid #efb810;
      display: flex;
      margin: 10px 30px 0 20px
    }
  
    .lateral .mejor .empleado4{
    
      height: 40%;
     
      background-color: #fff;
      border-bottom: 3px solid #efb810;
      display: flex;
      margin: 10px 30px 0 20px
    }
  
    .lateral .mejor .empleado5{
    
      height: 40%;
    
      background-color: #fff;
      display: flex;
      margin: 10px 30px 0 20px;
      border-bottom: 3px solid #efb810;
    }
  
  
    .lateral .mejor{

        background-color: rgb(9,79,174);
        width: 100%;
        height: 31%; 
    }
    
    .lateral .mejor img{
      margin-top: 10px;
      margin-left: 10px;
      width: 70px;
      height: 70px;
    }
/***************************/
    div#tabla-infor .informaciones table {
      width: 80%;
      height: 80%;
      margin-top: 10px;
      margin-left: 7%;
      justify-content: center;
  
   }
   div#tabla-infor .informaciones td,th{
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    color: #fff;


   }


.central .central-medio #esconder-reservacion #tabla-reservacion table {
  width: 95%;
 margin: 50px 20px 0 20px;
  text-align: center;
}

.central .central-medio #esconder-reservacion #tabla-reservacion table tr td {
  padding: 15px;
  color: rgb(255,255,255);
  font-size: 16px;
  
}
.central .central-medio #esconder-reservacion #tabla-reservacion table tr th {
  padding: 5px;
  background: linear-gradient(to right, rgb(229,161,50) 0%, rgb(240,110,50) 100%);
}
.central .central-top .busqueda #busqueda_reservaciones {
 
  margin-top: 40px;
  margin-left: 30px;
  width:  45%;
  height: 30px;
  background-color: rgb(9,79,174);
  padding: 5px;
  border-bottom-right-radius:20px;
  border-top-right-radius: 20px;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  border: 3px solid rgb(255, 255, 255);

  font-size: 15px;
  color: white
}

.central .central-top .busqueda #busqueda_reservaciones:focus{
  outline:none;
 
}
.central .central-top .busqueda #buscar{

  height: 40px;
  border-bottom-right-radius:5px;
  border-top-left-radius: 5px;
  background: linear-gradient(to right, rgb(229,161,50) 0%, rgb(240,110,50) 100%);
  padding: 5px;
  color:rgb(255, 255, 255);
  width: 60px;
  cursor: pointer;
}
.central .central-top .busqueda #restablecer{
 
  cursor: pointer;
  width: 32px;
}

/*Busqueda de Empleado*/
.notificacion .info-buscar-empleado{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  
}

.info-buscar-empleado input {
 margin-top: 5px;
}
/*********/
.notificacion #info-busqueda-reserva{
  margin: 35px 5px 0 5px;
}

.notificacion #info-busqueda-reserva input {
  background: linear-gradient(to right, rgb(229,161,50) 0%, rgb(240,110,50) 100%);
  font-size: 12px;
  text-align: center;
  color: rgb(255,255,255);
  cursor: pointer;

  padding: 7px 5px 7px 5px;
  margin-top: 5px;
 border-top-right-radius: 10px;

 border-bottom-left-radius: 10px;

 width: 100%;
}

.notificacion #info-busqueda-reserva input:focus{
  outline: none;
}

/***/

.caja3 .notificacion #info-busqueda-emp{
  margin:35px 5px 0 5px;
}

.caja3 .notificacion #info-busqueda-emp input{
  background: linear-gradient(to right, rgb(229,161,50) 0%, rgb(240,110,50) 100%);
  font-size: 12px;
  text-align: center;
  color: rgb(255,255,255);
  cursor: pointer;

  padding: 7px 5px 7px 5px;
  margin-top: 5px;
 border-top-right-radius: 10px;

 border-bottom-left-radius: 10px;

 width: 100%;
}

.central .central-medio #esconder-empleado #tabla-empleado table{
  width: 95%;
  margin: 50px 20px 0 20px;
  text-align: center;
}

.central .central-medio #esconder-empleado #tabla-empleado table tr th{
  padding: 5px;
  background: linear-gradient(to right, rgb(229,161,50) 0%, rgb(240,110,50) 100%);
}

.central .central-medio #esconder-empleado #tabla-empleado table tr td{
  padding: 15px;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

/*******/

.caja3 .notificacion #graficos-tours input{
  background: linear-gradient(to right, rgb(229,161,50) 0%, rgb(240,110,50) 100%);
  font-size: 12px;
  text-align: center;
  color: rgb(255,255,255);
  cursor: pointer;

  padding: 7px 5px 7px 5px;
  margin-top: 5px;
 border-top-right-radius: 10px;

 border-bottom-left-radius: 10px;

 width: 100%;
}

.caja3 .notificacion #graficos-tours{
  margin:35px 5px 0 5px;
}