
body{
  margin: 0;
  
}
  .caja3{
    width: 100vw;
    height: 99vh;
    background-color:#fff;
    display: flex;
    flex-direction: row;

  }
 
  .notificaciones{
    width: 50vw;
    height: 101vh;
    max-width: 250px;
    background-color: rgb(9,79,174);
    border: 2px solid #efb810;
    overflow: hidden;
  }
  
  .contenido-central{
    width: 100vw;
    height: 101vh;
    max-width: 100%;
    background-color: rgb(9,79,174);
    border: 2px solid #efb810;
    overflow: hidden;
  }
  
  .contenido-central-top{
    width: 100%;
    height: 16.2vh;
    background-color: rgb(9,79,174);;
    border-bottom: 2px solid #efb810;
    overflow: hidden;
  }
 

  .contenido-lateral{
    width: 700px;
    height: 101vh;
    max-width: 400px;
    background-color: rgb(9,79,174);
    border: 2px solid #efb810;
    overflow: hidden;
  }

.info-emp,.info-emp1,.info-emp2,.info-emp3,.info-emp4,.info-emp5{
  margin-top: 5px;
  margin-left: 5px;
  width: 400px;
}
.info-emp p,.info-emp1 p,.info-emp2 p,.info-emp3 p,.info-emp4 p,.info-emp5 p{
  margin: 0;
  
}
.info-emp{
  margin: 0;
  margin-top: 25px;
  margin-left: 5px;
  color: #fff;
}
.info-emp a{
  color: #fff;
}
  .notificaciones .logo{
    width: 250px;
    height: 16.2vh;
    background-color: rgb(9,79,174);
    border-bottom: 2px solid #efb810;
    display: flex;
  }
  
  .notificaciones .descripcion{
    width: 250px;
    height: 16%;
    background-color: rgb(9,79,174);
    border-top: 2px solid #efb810;
    
  }
  .notificaciones .descripcion .texto{
    margin: 16px;
    font-size: 16px;
    color: rgb(255,255,255)
  }
  .notificaciones .logo img{
    width: 43%;
    height: 83%;
    margin: 0;
    margin-left: 5%;
    margin-top: 10px;
    display: flex;
  }


  .notificaciones .reservas{
    background-color: rgb(9,79,174);
    width: 100%;
    height: 50%;
    margin-top: 25px;
    max-width: 100%;
    padding: 5px;
  }


  .contenido-central .informacion{
    margin-top: 5px;
    height: 100%;
    overflow: hidden;
    
  }

  .contenido-central .informacion input,label{
    margin-top: 10px;
    margin-left: 20%;
  }

  .contenido-central .informacion input{
    margin-top: 10px;
    width: 50%;
    padding: 10px;
    font-size: 15px;
  }
  .contenido-central .informacion input:last-child{
    margin-bottom: 10px;
    
  }
 
  .reservas .info input{
    background: linear-gradient(to right, rgb(229,161,50) 0%, rgb(240,110,50) 100%);
    font-size: 12px;
    text-align: center;
    color: rgb(255,255,255);
    cursor: pointer;
  
    padding: 7px 5px 7px 5px;
    margin-top: 5px;
   border-top-right-radius: 10px;
  
   border-bottom-left-radius: 10px;
  
   width: 100%;
  }
  .contenido-lateral .mejores .Tema{
    margin: 0 auto;
  
    width: 100%;
    height: 16.2vh;
    border-bottom: 2px solid #efb810;
    background-color: rgb(9,79,174);
  }
.contenido-lateral .mejores .Tema h1{
    text-align: center;
    color: rgb(255,255,255);
    padding-top: 40px;

}
  .contenido-lateral .mejores .empleado1{
    
    height: 90px;
    background-color: #fff;
    border-bottom: 3px solid #efb810;
    display: flex;
    margin: 40px 30px 0 20px;
    
  }
  .contenido-lateral .mejores .empleado2{
    height: 90px;
    background-color: #fff;
    border-bottom: 3px solid #efb810;
    display: flex;
    margin: 15px 30px 0 20px;
  }

  .contenido-lateral .mejores .empleado3{
    height: 90px;
    background-color: #fff;
    border-bottom: 3px solid #efb810;
    display: flex;
    margin: 15px 30px 0 20px;
  }

  .contenido-lateral .mejores .empleado4{
    height: 90px;
    background-color: #fff;
    border-bottom: 3px solid #efb810;
    display: flex;
    margin: 15px 30px 0 20px;
  }

  .contenido-lateral .mejores .empleado5{
    height: 90px;
    background-color: #fff;
    border-bottom: 3px solid #efb810;
    display: flex;
    margin: 15px 30px 0 20px;
  }


  .contenido-lateral .mejores{
    
      background-color:rgb(9,79,174);
      width: 100%;
      height: 31%; 
  }
  
  .contenido-lateral .mejores img{
    margin-top: 4.5px;
    margin-left: 10px;
    width: 70px;
    height: 70px;
  }

 div#tabla-info.informacion td,th{
  text-align: center;
  margin-top: 100px;
  font-size: 16px;
  color: #fff;

 }

 
div.contenido-central-top div.titulo h1{

 
  color: #fff;
  text-align: center;
  margin-top: 30px;
}

.contenido-central .parte-abajo .caja4{
  margin: 0;
  height: 81vh; 
  margin-left: 5%;

}
.contenido-central .parte-abajo .caja4 label{
  display: flex;
  flex-direction: row;
  margin-left: 5px ;
  margin-bottom: 5px;
}

.contenido-central .parte-abajo .caja4 input{
  display: flex;
  flex-direction: row;
  margin-left: 5px ;
  width: 30%;
  margin-bottom: 5px;
  padding: 8px;
}
.contenido-central .parte-abajo .caja4 input,label{
  margin-top: 10px;
  margin-bottom: 30px;
}

.contenido-central .parte-abajo .caja4 label{
  color: #fff;
}

.contenido-central .parte-abajo .caja4 h1{
  color: #fff;
}

div.caja4 .nombre-completo{
  display: flex;
}
div.caja4 .nombre-correo input[id="txt-telphone"]{
margin-left:  2.5%;
}
div.caja4 .nombre-correo input[id="txt-email"]{
  margin-left:  0.7%;
  }

div.caja4 .nombre-correo{
  display: flex;
}
/***/
.contenido-central #tabla-info table{
  width: 95%;
  margin: 60px 20px 0 20px;
  text-align: center;
}

.contenido-central #tabla-info table tr th{
  background: linear-gradient(to right, rgb(229,161,50) 0%, rgb(240,110,50) 100%);
  padding: 5px;
}

.contenido-central #tabla-info table tr td{
  padding: 15px;
  font-size: 16px;
  color: rgb(255, 255, 255);
}


/*Diseño de login*/

div.contenedor-login .probando{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 400px;
  width: 350px;
  margin-left: 30.5%;
  border-top-left-radius: 15px;

  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  
}



div.contenedor-login .probando input{
  margin: auto;
  margin-top: 10px;
}


div.contenedor-login .probando input[type="button"]{
  margin-top: 0;
  margin-bottom: center;
  width: 250px;
  height: 50px;
  background: linear-gradient(to right, rgb(229,161,50) 0%, rgb(240,110,50) 100%);
  color: white;
  font-size: 15px;
  cursor: pointer;
 border-bottom-left-radius: 5px;
 border-bottom-right-radius: 5px;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
}


.esconder {
  display: none;
}

.formulario form  .contenedor-login .probando .login_encabezado{
  background: linear-gradient(to right, rgb(229,161,50) 0%, rgb(240,110,50) 100%);
 width: 100%;
 height: 80px;
 color: #fff;
}

.formulario form .contenedor-login .probando .login_encabezado h2{
font-size: 25px;
margin-top: 30px;
text-align: center;
}

.formulario form .contenedor-login .probando #username{
  width: 250px;
  border-bottom: 1px solid #c0c0c0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: none;
  margin: 50px 0 35px 20px;
}

.formulario form .contenedor-login .probando #password{
  width: 250px;
  border-bottom: 1px solid #c0c0c0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: none;
  margin-top: 40px;
  margin-left: 20px;
}

 .formulario .login {
  width: 100%;
  height: 100vh;
  background: #bc4e9c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, hsla(251, 67%, 43%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../img/playa1.jpg);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, hsla(251, 64%, 60%, 0.459), hsla(229, 59%, 48%, 0.664)), url(../img/playa1.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

/**/
.formulario .login form .contenedor-login .imagen{
  width: 200px;
  height: 400px;
  background-color: rgb(255, 255, 255);

  border-left: 3px solid #efb810;
  margin-top: 100px;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  position: absolute;
}

.formulario .login form .contenedor-login .imagen img{
  width: 100px;
  height: 100px;
  align-items: center;

}

.formulario .login .contenedor-login{
  display: flex;
}



/*/***********************************/

.esconder
{
    display: none;
}

#cajamenus header{
    
    
    width: 100%;
    
}

/*Altura y Ancho de los iconos del menú*/
#cajamenus header li a img{
    width: 20px;
    height: 20px;
    padding-right: 5px;
    
}



/*Estilo al encabezado*/


span { color:#fff }

/**/

#cajamenus header .wrappers input#btn-menu[type="checkbox"]{
    display: none;
}
header label{
    display: none;
    width: 30px;
    height: 50px;
    padding: 10px;
    padding-bottom: 0%;
    border-right: 1px solid #ffffff;
    
}

header label img{
    width: 30px;
    height: 30px;
}
header label:hover{
    cursor:pointer;
    
   
}
header nav ul li:hover{
  background: linear-gradient(to right, rgb(229,161,50) 0%, rgb(240,110,50) 100%);
    border-radius: 20px;
}

#cajamenus header .wrappers .navegacions ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    line-height: normal;
    
}

#cajamenus header .wrappers .navegacions li a{
    display: inline-block;
    font-size: 25px;
    padding: 25px 10px;
    color: #fff;
    text-decoration: none;
    
    -o-webkit-transition:all 500ms eas;  
    -o-transition: all 500ms eas;
    transition:all 500ms eas;
    
}

.login-box {
  width: 340px;
  height: 400px;
  background: rgb(255,255,255);
  color: #000;
  top: 50%;
  left: 30%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  margin-top: 20px;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
.login-box .encabezado_login{
  height: 100px;
  background: linear-gradient(to right, rgb(229,161,50) 0%, rgb(240,110,50) 100%);

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.login-box .encabezado_login h1 {
 
  padding: 0 0 20px;
  text-align: center;
  font-size: 30px;
  padding-top: 60px;
  color: rgb(255, 255, 255);
}


.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
  width: 250px;
  border-bottom: 1px solid #c0c0c0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: none;
  margin: 50px 0 35px 40px;
}

.login-box input[type="button"] {
  margin-top: 0;
  margin-bottom: center;
  width: 250px;
  height: 50px;
  background: linear-gradient(to right, rgb(229,161,50) 0%, rgb(240,110,50) 100%);
  color: white;
  font-size: 15px;
  cursor: pointer;
 border-bottom-left-radius: 5px;
 border-bottom-right-radius: 5px;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
 margin-left: 40px;
}

.login .fralogin .Frase_Login h2{
  color: white;
  display: flex;
  justify-content: right;
  margin-top: 220px;
  float: right;
  padding-right: 60px;
  font-size: 30px;
 
}

#login.pagina.esconder .login .fralogin{
  display: flex;
}
/******/

footer{
  background: rgb(255,255,255);
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer{
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 3px solid rgb(229,161,50);
}

.content-foo{
  text-align: center;
}

.content-foo h4{

  border-bottom: 3px solid rgb(229,161,50);
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.titulo-final{
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
 
}

@media screen and (max-width:900px){
  .fondo-playa{
      background-position: center;
  }

  .contenedor-sobre-nosotros{
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .sobre-nosotros .contenido-textos{
      width: 90%;
  }

  .imagen-about-us{
      width: 90%;
  }

  /* Galeria */

  .imagen-port{
      width: 44%;
      
      
  }

  
}

@media screen and (max-width:500px){
  nav{
      text-align: center;
      padding: 30px 0 0 0;
  }

  nav > a{
      margin-right: 5px;
  }

  .textos-header h1{
      font-size: 35px;
  }

  .textos-header h2{
      font-size: 20px;
  }

  

  /* Galeria */

  .imagen-port{
      width: 44%;
  
  }

  

  /* Footer */

  .contenedor-footer{
      flex-direction: column;
      border: none;
  }

  .content-foo{
      margin-bottom: 60px;
      text-align: center;
  }

  .content-foo h4{
      border: none;
  }

  .content-foo p{
      color: #fff;
      border-bottom: 1px solid #f2f2f2;
      padding-bottom: 20px;
  }

}

