/*Clase para esconder paginas*/
.esconder
{
    display: none;
}
body{
    margin:0;
    font-family: sans-serif;
    padding:0;
}   

header{
    
    background-color:rgb(9,79,174);
    width: 100%;
    
}

/*Altura y Ancho de los iconos del menú*/
header li a img{
    width: 20px;
    height: 20px;
    padding-right: 5px;
    
}



/*Estilo al encabezado*/

h1 { color: rgb(229,161,50); }
span { color:#fff }

/**/

#btn-menu{
    display: none;

}
header label{
    display: none;
    width: 30px;
    height: 50px;
    padding: 10px;
    padding-bottom: 0%;
    border-right: 1px solid #ffffff;
    
}

header label img{
    width: 30px;
    height: 30px;
}
header label:hover{
    cursor:pointer;
    background: rgb(9,79,174);
   
}
header nav ul li:hover{
    background-color: RGB(9, 38, 247);
    border-radius: 50px;
}

.navegacion ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    line-height: normal;
    
}

.navegacion li a{
    display: inline-block;
    font-size: 20px;
    padding: 25px 10px;
    color: #fff;
    text-decoration: none;
    
    -o-webkit-transition:all 500ms eas;  
    -o-transition: all 500ms eas;
    transition:all 500ms eas;
    
}

/*Pr
opiedades para el menu al reducir el navegador a 600px*/
@media(max-width:860px){
     header label{ 
        display: block;
        margin:0;
     }
/*Opciones principales*/
     .navegacion {
         position: absolute;
         background: rgb(9,79,174); 
         width:50%;
         margin-left: -70%;
         transition: all 0.5s;
       
             }
/*Muestra el menú en forma de columna*/
     .navegacion ul{
         flex-direction: column;
         
     }
/*Al darle clic al boton del menú se abra*/
     #btn-menu:checked ~ .navegacion {
        margin:0;
        width: 200px;
     }

    
}
/*----------------------------------------------------------------------------------*/
/*Estilo de interfaz usuario*/

.container {
    max-width: 450px;
    height: auto;
    background-color: #efefef;
    margin: 5% auto;
    margin-bottom: 1rem;
    flex-direction: column;
}
.form_top {
    width: 100%;
    text-align: center;
    padding: 2rem 0 1 rem;
    border-top: solid .4rem #f39b53;
    margin-bottom: 1rem;
}
.form_top h2 {
    font-weight: bold;
    color: #cac8c8;
   font-size: 18px;
}
h2 span{
    color: #f39b53;
}
.form__reg {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn__form {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}
.inputs, .btn__submit, .btn__reset, .option{
	background-color: #EFEFEF;
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #C8C8C8 .2rem;
    transition: all .5s;
   
}

.inputs:focus{
    outline: none;
    border-bottom: solid rgb(9,79,174) .2rem;
}

.btn__submit {
	width: 40%;
	border-bottom: none;
	background-color: #31B1E5;
	color: white;
}
.btn__submit:hover {
	background-color: #4C9ED9;
}



.btn__reset:focus {
    outline: none;
    border-bottom:solid rgb(9,79,174) .2rem;
}





/*Slider automático*/
.slider{
    width: 100%;
    margin:0;
    overflow: hidden;
    padding: 0;
}

.slider ul {
    padding: 0;
    display: flex;
    width: 400%;
    margin:0;
    animation: cambio 20s infinite alternate linear;
    animation-timing-function: ease-out;
    
}

.slider li{
    list-style: none;
    width: 100%;
    transition: all 2s;
}

.slider img{
    width: 100%;
    height: 500px;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%}
    70% {margin-left: -200%}

    75% {margin-left: -300%}
    100% {margin-left: -300%;}
}
/***** Pagina de Inicio *****/
h1 {
    margin: 0 auto;
    padding: 50px;
    padding-bottom: 0%;
    text-align: center;
    background-color: rgb(9,79,174);
    height: 30px;
}

h2 {
    margin: 0 auto;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-align: auto;
    height: 35px;


}

.titulo {
color:rgb(255, 255, 255);
background-color: rgb(37, 165, 148);

}
form {
    display: flex ;
    flex-direction: row;

}
.principal {
text-align: center;
}

.caja {
    width: 1000px;
    height: 250px;
    margin: 10px auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 10px;
    
}

.caja1 {
    width: 1000px;
    height: 250px;
    margin: 10px auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 10px;
    

}

.caja .foto1 {
    width: 450px;
    height: 250px;
    background-image: url("../img/1_.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    margin-left: 10px;
    padding-right: 5px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    transition-delay: 1s;
    transition: all 1s;
}

.caja .foto2 {
    width: 450px;
    height: 250px;
    background-image: url("../img/2_.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    margin-left: 10px;
    border-bottom-right-radius:10px;
    border-top-right-radius: 10px;
    transition-delay: 1s;
    transition: all 1s;
}
.caja1 .fotos3 {
    width: 300px;
    height: 250px;
    background-image: url("../img/3_.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    margin-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition-delay: 1s;
    transition: all 1s;

}
.caja1 .fotos4 {
    width: 300px;
    height: 250px;
    background-image: url("../img/4_.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    margin-left: 10px;
    transition-delay: 1s;
    transition: all 1s;

}
.caja1 .fotos5 {
    width: 300px;
    height: 250px;
    background-image: url("../img/5_.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    margin-left: 10px;
    border-bottom-right-radius:10px;
    border-top-right-radius: 10px;
    transition-delay: 1s;
    transition: all 1s;

}

.caja1 .fotos5:hover {
    background-image: url("../img/10_.jpg");
    background-size: contain;
    width: 300px;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.caja1 .fotos4:hover {
    background-image: url("../img/12_.jpg");
    background-size: contain;
    width: 300px;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.caja1 .fotos3:hover {
    background-image: url("../img/15_.jpg");
    background-size: contain;
    width: 300px;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.caja .foto2:hover {
    background-image: url("../img/7_.jpg");
    background-size: contain;
    width: 450px;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.caja .foto1:hover {
    background-image: url("../img/9_.jpg");
    background-size: contain;
    width: 450px;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
