/*Clase para esconder paginas*/
.esconder
{
    display: none;
}
body{
    margin:0;
    font-family: sans-serif;
    padding:0;
    
}   

#contenedor header{
    
   
    width: 100%;
    
}

/*Altura y Ancho de los iconos del menú*/
#contenedor header li a img{
    width: 20px;
    height: 20px;
    padding-right: 5px;
    
}


/*Estilo al encabezado*/

h1#titulo_encabezado {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    color: rgb(229,161,50);
    
  
}
span { color:#fff }

/**/

/*----------------------------------------------------------------------------------*/
/*Estilo de interfaz usuario*/

/* .container {
    max-width: 450px;
    height: auto;
    background-color: #efefef;
    margin: 5% auto;
    margin-bottom: 1rem;
    flex-direction: column;
}
.form_top {
    width: 100%;
    text-align: center;
    padding: 2rem 0 1 rem;
    border-top: solid .4rem #f39b53;
    margin-bottom: 1rem;
}
.form_top h2 {
    font-weight: bold;
    color: #cac8c8;
   font-size: 18px;
}
h2 span{
    color: #f39b53;
}
.form__reg {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn__form {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
.inputs, .btn__submit, .btn__reset, .option{
    background-color: #EFEFEF;
    padding: .5rem;
    margin: .5rem 0;
    border: none;
    border-bottom: solid #C8C8C8 .2rem;
    transition: all .5s;
   
}

.inputs:focus{
    outline: none;
    border-bottom: solid rgb(9,79,174) .2rem;
}

.btn__submit {
    width: 40%;
    border-bottom: none;
    background-color: #31B1E5;
    color: white;
}
.btn__submit:hover {
    background-color: #4C9ED9;
}


.btn__reset:focus {
    outline: none;
    border-bottom:solid rgb(9,79,174) .2rem;
} */




/*Slider automático*/
#inicio.pagina .slider{
    width: 100%;
    margin:0;
    overflow: hidden;
    padding: 0;
}

#inicio.pagina .slider ul {
    padding: 0;
    display: flex;
    width: 400%;
    margin:0;
    animation: cambio 20s infinite alternate linear;
    animation-timing-function: ease-out;
    
}

#inicio.pagina .slider ul li{
    list-style: none;
    width: 100%;
    transition: all 2s;
}

#inicio.pagina .slider ul li img{
    width: 100%;
    height: 500px;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%}
    70% {margin-left: -200%}

    75% {margin-left: -300%}
    100% {margin-left: -300%;}
}
/***** Pagina de Inicio *****/

#inicio.pagina .datos h2 {
    margin: 0 auto;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-align: auto;
    height: 35px;

}

/* .titulo {
color:rgb(255, 255, 255);
background-color: rgb(37, 165, 148);
}

form {
    display: flex ;
    flex-direction: row;
} */
/* .principal {
text-align: center;
} */

.datos {
   text-align: center;
   justify-content: center;
    align-items: center;
    background-position: center;
   
}
#inicio.pagina .datos .caja {
    width: 60%;
    height: 250px;
    margin: 10px auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

#inicio.pagina .datos .caja1 {
    width: 60%;
    height: 250px;
    margin: 10px auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
    

}

#inicio.pagina .datos .caja .foto1 {
    width: 46%;
    height: 250px;
    background-image: url("../img/1_.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    margin-left: 10px;
    padding-right: 5px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    transition-delay: 1s;
    transition: all 1s;

   
}

#inicio.pagina .datos .caja .foto2 {
    width: 45%;
    height: 250px;
    background-image: url("../img/2_.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    margin-left: 10px;
    border-bottom-right-radius:10px;
    border-top-right-radius: 10px;
    transition-delay: 1s;
    transition: all 1s;
}

#inicio.pagina .datos .caja1 .fotos3 {
    width: 30%;
    height: 250px;
    background-image: url("../img/3_.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    margin-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition-delay: 1s;
    transition: all 1s;

  
}

#inicio.pagina .datos .caja1 .fotos4 {
    width: 30%;
    height: 250px;
    background-image: url("../img/4_.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    margin-left: 10px;
    transition-delay: 1s;
    transition: all 1s;

}

#inicio.pagina .datos .caja1 .fotos5 {
    width: 30%;
    height: 250px;
    background-image: url("../img/5_.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    margin-left: 10px;
    border-bottom-right-radius:10px;
    border-top-right-radius: 10px;
    transition-delay: 1s;
    transition: all 1s;

}

#inicio.pagina .datos .caja1 .fotos5:hover {
    background-image: url("../img/10_.jpg");
    background-size: contain;
    width: 30%;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#inicio.pagina .datos .caja1 .fotos4:hover {
    background-image: url("../img/12_.jpg");
    background-size: contain;
    width: 30%;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

#inicio.pagina .datos .caja1 .fotos3:hover {
    background-image: url("../img/15_.jpg");
    background-size: contain;
    width: 30%;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
#inicio.pagina .datos .caja .foto2:hover {
    background-image: url("../img/7_.jpg");
    background-size: contain;
    width: 45%;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

#inicio.pagina .datos .caja .foto1:hover {
    background-image: url("../img/9_.jpg");
    background-size: contain;
    width: 46%;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
