#tours.pagina *{
box-sizing: border-box;
margin: 0;
}
#tours.pagina .row {
    margin: 5px;

}

div#tours.pagina div.row div.column h2 {
    margin: 0 auto;
    padding-bottom: 0%;
    text-align: center;
    color: rgb(229,161,50);
    height: 30px;
}
div#tours.pagina div.row div.column h2 + span { color:#fff }


/* Create two equal columns that floats next to each other */
div#tours.pagina div.row div.column {
float: left;
width: 20%;
padding: 10px;
height: 500px;
/* Should be removed. Only for demonstration */
}
div#tours.pagina div.row div.column_1 {
float: left;
width: 80%;
padding: 10px;
height: 500px;
position: relative;
/* Should be removed. Only for demonstration */
}


/* Clear floats after the columns */
div#tours.pagina div.row:after {
content: "";
display: table;
clear: both;
}

div#tours.pagina div.row div.column_1 div#caja {
    height: 300px;
    width: 390px;
    background-color: #ffff;
    float: left;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 10px;
    padding-right: 5px;
    margin-top: 100px;
}


div#tours.pagina div.row div.column_1 button[id="myBtn"] {
    background-color: rgb(38, 59, 179);
    color: white;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 0;
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 100px;

}
div#tours.pagina div.row div.column_1 a {
    text-decoration: none;
    color:white;
}

/*---Menu de Tours--- */


/*---Style the lista---*/
#tours.pagina .row .column #tours_menu .lista{
float: left;

width: 90%;
margin-top: 2%;
margin-left: 5%;
height: 70%;
}

/* Style the buttons inside the tab */
#tours.pagina .row .column #tours_menu .lista button {
display: block;
background-color: inherit;
color: #f1f1f1;
margin-bottom: 3px;
width: 100%;
padding: 5px;
border: none;
outline: none;
text-align: left;
cursor: pointer;
transition: 0.3s;
font-size: 17px;

}
/* Change background color of buttons on hover */
#tours.pagina .row .column #tours_menu .lista button:hover {
background-color: #508ab9;
}

/*Menu de tours*/
div#tours.pagina div.row div.column div#tours_menu ul
{
    margin-top: 20px;
    padding-left: 5px;
    display:flex;
    flex-direction: column;
}



/* Informacion del tour */

div#tours.pagina div.row div.column_1 div#tours_info
{
    position: relative;
    display: flex;
    flex-direction: column;
}
div#tours.pagina div.row div.column_1 div#tours_info h2
{
    padding-top: 5%;
    height: 100px;
    font-size: 40px;
    position: relative;
    color:whitesmoke
    
}
/*Descripcion del tour*/
div#tours.pagina div.row div.column_1 div#tours_info p + p
{

    position: relative;
    color: whitesmoke;
    width: 450px;
    padding-left: 10px;
}
/* Precio del Tour */
div#tours.pagina div.row div.column_1 div#tours_info h2 + p
{
    color: rgb(250, 155, 1);
    right: 5%;
    top: 20%;
    position: absolute;
    font-size: 30px;
    font-weight: 800px;
    font-style: italic;
}


/*    Seccion de Consulta y Cancelacion de Tours     */



div#consultar_cancelar.pagina div.cc_busqueda
{
    font-family: sans-serif;
    padding-top: 20px;
    background-color:#508ab9;
    color: whitesmoke;
    margin: 0 auto;
    width: 55%;
    padding: 10px 0 20px 70px;
    margin-top: 20px;
    text-align: left;
    flex-direction: column;

}
div#consultar_cancelar.pagina div.cc_busqueda button#cc_btn_buscar
{
    background-color: rgb(38, 59, 179);
    transition: 1s all;
    border: none;
    width: 25%;
    height: 25px;
    padding: 0 3px 0 3px;
    color: oldlace;
    margin-top: 10px;
    border-radius: 3px;
    margin-left: 135px;
    border-bottom: 2.5px solid whitesmoke;
}
div#consultar_cancelar.pagina .cc_busqueda label
{
    margin-bottom: 15px;
    margin-left: 0 !important;
}
div#consultar_cancelar.pagina .cc_busqueda input
{
    margin-bottom: 15px;
    margin-left: 15px;
    width: 30%;
}


div#consultar_cancelar.pagina .cc_busqueda button#cc_btn_buscar:hover
{
    border-bottom: 3px solid black;
    width: 30%;
}
div#consultar_cancelar.pagina .formulario
{
    font-family: sans-serif;
    padding-top: 20px;
    background-color:#508ab9;
    margin: 0 auto;
    width: 55%;
    color:whitesmoke
    
}
div#consultar_cancelar.pagina .formulario input:read-only
{
    cursor: auto;
    color: lightgray;
}
div#consultar_cancelar.pagina .formulario  h2
{
    color: sandybrown;
    text-align: center;
    margin-bottom: 10px;
}
div#consultar_cancelar.pagina .formulario label
{
    margin-left: 20px;
}
div#consultar_cancelar.pagina .formulario input
{
    padding: 5px;
    margin: 0 0 10px 10px;
}
div#consultar_cancelar.pagina .formulario input#cc_nombre_completo
{
    margin-left: 40px;
    width: 45%;
}

div#consultar_cancelar.pagina .formulario input#cc_fecha_inicio
{
    width: 45%;
    margin-left: 60px;
}
div#consultar_cancelar.pagina .formulario input#cc_fecha_final
{
    width: 45%;
    margin-left: 85px;
}
div#consultar_cancelar.pagina .formulario input#cc_cant_personas
{
    width: 45.2%;
}
div#consultar_cancelar.pagina .formulario input#cc_nombre_tour
{
    margin-left: 50px;
    width: 45%;
}
div#consultar_cancelar.pagina .formulario .seccion_empleados
{
    width: 100%;
    background-color: #508ab9;
    padding-top: 20px;
    text-align: center;
}
div#consultar_cancelar.pagina .formulario .seccion_empleados input
{
    width: 45%;
}
div#consultar_cancelar.pagina .formulario .seccion_empleados h2
{
    text-align: center;
    color: sandybrown;
}

div#consultar_cancelar.pagina .formulario .seccion_botones
{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #508ab9;
    text-align: center;
}
div#consultar_cancelar.pagina .formulario .seccion_botones button#cc_btn_actualizar
{
    background-color: #318dda;
    width: 35%;
    height: 30px;
    border: none;
    color: oldlace; 
    cursor: pointer;
    transition: 1s all;
    border-radius: 3px;
}
div#consultar_cancelar.pagina .formulario .seccion_botones button#cc_btn_actualizar:hover
{   
    background-color: #1860d4;
}
div#consultar_cancelar.pagina .formulario .seccion_botones button#cc_btn_actualizar:focus
{
    border: 2.5px solid #1e80cf;
    outline: none;
    
}
div#consultar_cancelar.pagina .formulario .seccion_botones button#cc_btn_cancelar   
{
    color: oldlace;
    width: 35%;
    height: 30px;
    background-color: rgb(240, 165, 45);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 20px;
    transition: 1s all;
}
div#consultar_cancelar.pagina .formulario .seccion_botones button#cc_btn_cancelar:hover
{
    background-color: #ff4e00;
}

div#consultar_cancelar.pagina .formulario .seccion_botones button#cc_btn_cancelar:focus
{
    border: 2.5px solid rgb(240, 165, 45);
    outline: none;
}




