#tours.pagina *{
box-sizing: border-box;
margin: 0;
}
#tours.pagina .row {
    margin: 5px;

}

div#tours.pagina div.row div.column h2 {
    margin: 0 auto;
    padding-bottom: 0%;
    text-align: center;
    color: rgb(229,161,50);
    height: 30px;
}
div#tours.pagina div.row div.column h2 + span { color:#fff }


/* Create two equal columns that floats next to each other */
div#tours.pagina div.row div.column {
float: left;
width: 20%;
padding: 10px;
height: 500px;
/* Should be removed. Only for demonstration */
}
div#tours.pagina div.row div.column_1 {
float: left;
width: 80%;
padding: 10px;
height: 500px;
position: relative;
/* Should be removed. Only for demonstration */
}


/* Clear floats after the columns */
div#tours.pagina div.row:after {
content: "";
display: table;
clear: both;
}

div#tours.pagina div.row div.column_1 div#caja {
    height: 300px;
    width: 390px;
    background-color: #ffff;
    float: left;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 10px;
    padding-right: 5px;
    margin-top: 100px;
}


div#tours.pagina div.row div.column_1 button[id="myBtn"] {
    background-color: rgb(38, 59, 179);
    color: white;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 0;
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 100px;

}
div#tours.pagina div.row div.column_1 a {
    text-decoration: none;
    color:white;
}

/*---Menu de Tours--- */


/*---Style the lista---*/
#tours.pagina .row .column #tours_menu .lista{
float: left;

width: 90%;
margin-top: 2%;
margin-left: 5%;
height: 70%;
}

/* Style the buttons inside the tab */
#tours.pagina .row .column #tours_menu .lista button {
display: block;
background-color: inherit;
color: #f1f1f1;
margin-bottom: 3px;
width: 100%;
padding: 5px;
border: none;
outline: none;
text-align: left;
cursor: pointer;
transition: 0.3s;
font-size: 17px;

}
/* Change background color of buttons on hover */
#tours.pagina .row .column #tours_menu .lista button:hover {
background-color: #508ab9;
}

/*Menu de tours*/
div#tours.pagina div.row div.column div#tours_menu ul
{
    margin-top: 20px;
    padding-left: 5px;
    display:flex;
    flex-direction: column;
}



/* Informacion del tour */

div#tours.pagina div.row div.column_1 div#tours_info
{
    position: relative;
}
div#tours.pagina div.row div.column_1 div#tours_info h2
{
    margin-left: 0;
    padding:0;
    height: 100px;
    font-size: 40px;
    color:whitesmoke
    
}
/*Descripcion del tour*/
div#tours.pagina div.row div.column_1 div#tours_info p + p
{
    margin-left: 42%;
    position: absolute;
    color: whitesmoke;
    width: 450px;
    
}
/* Precio del Tour */
div#tours.pagina div.row div.column_1 div#tours_info h2 + p
{
    color: rgb(250, 155, 1);
    right: 30px;
    top: 93px;
    position: absolute;
    font-size: 30px;
    font-weight: 800px;
    font-style: italic;
}


/*    Seccion de Consulta y Cancelacion de Tours     */
div#consultar_cancelar div#form_consulta_cancelacion 
{
    height: 40%;
    width: 40%;
    margin:0 auto;
    
    background-color:#508ab9
}
